<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout2}">

<body>
<th:block layout:fragment="content">
  <div class="mb-3">
    <a th:href="@{/admin}">대시보드</a> |
    <a th:href="@{/admin/inventory}">인벤토리</a> |
    <a th:href="@{/admin/members}">회원 관리</a>
  </div>
  <h1>관리자 대시보드</h1>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">인벤토리</h5>
          <p class="card-text">메모 <span th:text="${memoCount}">0</span>건</p>
          <a th:href="@{/admin/inventory}" class="btn btn-primary">인벤토리 관리</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">회원 관리</h5>
          <p class="card-text">회원 <span th:text="${userCount}">0</span>명</p>
          <a th:href="@{/admin/members}" class="btn btn-primary">회원 관리</a>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>
