<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8"  />
   <title>몽고디비+SpringBoot 연동 테스트 입니다.</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- 기본 js 등록 -->
   <script src="/js/util.js" defer ></script>
   <!-- 기본 css 등록 -->
	<link rel="stylesheet" type="text/css" href = "/css/basic.css">
   
</head>
<body>

   <h1 > 몽고디비(atlasCloud)+SpringBoot 연동 CRUD 테스트 입니다</h1>

   	<div class="form-group" >
    		<label for="comment">디비추가:</label>
    		<input  class="form-control"   id="dbId" name="dbId" placeholder="1 형식 입력"></input>
    		<input class="form-control"   id="dbTitle" name="dbTitle"placeholder="제목 입력"></input>
    		<input class="form-control"   id="dbMessage" name="dbMessage" placeholder="메세지입력"></input>
    		<br>
    		<button id="dbInsertBtn" class="text-bg-primary">디비추가</button>
    	</div>
<br>
         	<div class="form-group">
    		<label for="comment">디비검색: </label>
    		<select name="searchDB" id="searchDB">
  <option value="message">메세지 검색</option>
  <option value="title">제목 검색</option>
  <option value="_id" selected="selected">ID 검색</option>
</select>
    		<input class="form-control"   id="searchContent" name="searchContent" placeholder="1 형식 입력: 작업중 대기"></input>
    		<br>
    		<button id="dbSearchBtn" class="text-bg-primary">디비검색</button>
    		<br>
    	</div>
    	
        <div class="container">
    <h1>Image Upload</h1>
    <form method="post" action="/images" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Choose an image:</label>
            <input type="file" id="image" name="file" class="form-control-file" onchange="loadImage()">
        </div>
        <button id="uploadBtn" type="submit" class="btn btn-primary" >Upload</button>
    </form>
</div>

 <!-- <input type="file" id="image" onchange="loadImage()"> -->
    <br>
    <img id="preview" src="" alt="Image Preview">
    <br>
    <div id=ImageTest></div>
<!--   <img src="/images/P1235.png" alt="My Image" name="image1" id="image1">
  <img src="/images/childLook.gif" alt="My Image" name="image1" id="image1">
  <video width="320" height="240" controls>
  <source src="/images/sample.mp4" type="video/mp4">
</video> -->
<br>
<h2>검색 디비 목록</h2>
<div id="searchResult"></div>
<h2>기존 디비 전체 목록</h2>
      <div id="dbResult"></div>
   
</body>
 

