<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default_layout2}">

<body><th:block layout:fragment="content">
   <h1 > 미니 인프런 프로젝트 관리자 모드</h1>
   <h2>Springboot 2.7.8, AWS Lightsail AMI2, docker mongodb 6.0.4, SSL 설정, 도메인설정.</h2>
   <h2>Spring Security 적용, thymeleaf 적용.</h2>
   
<body>
   	<div class="form-group">
    		<label for="comment">디비수정:</label>
    		<input class="form-control"   id="dbId" name="dbId" placeholder="1 형식 입력"  th:value="${user.id}" readOnly></input>
    		<input class="form-control"   id="dbTitle" name="dbTitle"placeholder="제목 입력" th:value="${user.title}"></input>
    		<input class="form-control"   id="dbMessage" name="dbMessage" placeholder="메세지입력" th:value="${user.message}"></input>
    		<button id="dbUpdateBtn" class="text-bg-primary">수정적용하기</button>
    	</div>
                        
<br>
    		<button id="listBtn" class="text-bg-primary">목록가기</button>
<br>
<br>
   <table class="table  table-hover " >
  <tr>
    <th >ID</th>
    <th>Title</th>
    <th>Message</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${user.id}"> </td>
    <td th:text="${user.title}"> </td>
    <td th:text="${user.message}"></td>
  </tr>
 </tbody>
</table>

     </th:block>
   
</body>
 

